<div class="table-responsive overflow-hidden border rounded-xl">
  <table class="table table-hover table-bordered align-middle mb-0">
    <thead class="table-dark">
      <tr>
        @for(column of columns; track column.key) {
        <th>
          {{ column.title }}
        </th>
        }
      </tr>
    </thead>

    <tbody>
      @for(row of data; track $index) {
      <tr>

        @for(column of columns; track column.key) {
        <td>
          {{ $any(row)[column.key] }}
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>